DATABASE_URL=
SESSION_ID=Prince~doxkBYTZ#g4l_WLopRiMvJGjrBh32MCEYABH9_XLhCXPZn6TbGYc
REMOVEBG_KEY=
PREFIX=.
MODE=public
AutoReaction=true
STATUSVIEW=true
OWNERS=918930358453;TOHID
antidelete=true
BOT_NAME=Tohid
DL_MSG=Here is your video
ANTI_LINK=true
ANTI_CALL=false
VIEWONCE=true
